@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap'); /* Импортирует шрифт Poppins из Google Fonts */

*{
  margin: 0; /* Убирает отступы для всех элементов */
  padding: 0; /* Убирает внутренние отступы для всех элементов */
}

body {
  font-family: "Poppins", serif; /* Устанавливает шрифт Poppins для всего тела документа */
  font-weight: 400; /* Устанавливает начальную жирность текста */
  font-style: normal; /* Устанавливает нормальный стиль текста */
  color: #ffff; /* Устанавливает цвет текста белым */
  font-size: 16px; /* Устанавливает базовый размер шрифта */
}

a {
  text-decoration: none; /* Убирает подчеркивание у ссылок */
  font-family: "Poppins", serif; /* Устанавливает шрифт Poppins для ссылок */
  font-weight: 400; /* Устанавливает жирность текста для ссылок */
}

img{
  max-width: 100%; /* Ограничивает максимальную ширину изображений до 100% родительского элемента */
}

.wrapper{
  background: rgb(238,174,202); /* Устанавливает фоновый цвет */
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); /* Устанавливает радиальный градиент в качестве фона */
  width: 100%; /* Устанавливает ширину обертки на 100% */
  overflow-x: hidden;
}

.container{
  width: 1300px; /* Устанавливает фиксированную ширину для контейнера */
  margin: 0 auto; /* Центрирует контейнер по горизонтали */
}

/* ШАПКА */

header{
  padding: 50px 0; /* Устанавливает вертикальные отступы для шапки */
}

header .logo{
  text-transform: uppercase; /* Преобразует текст логотипа в верхний регистр */
  font-size: 29px; /* Устанавливает размер шрифта для логотипа */
  font-weight: 800; /* Устанавливает жирность текста для логотипа */
}

header nav{
  float: right; /* Выравнивает навигацию вправо */
  width: 40%; /* Устанавливает ширину навигации на 40% */
  margin-top: 10px;
}

header nav ul{
  list-style: none; /* Убирает маркеры у списка навигации */
  display: flex; /* Устанавливает флекс-контейнер для горизонтального расположения элементов */
  justify-content: space-between; /* Распределяет элементы с равными промежутками между ними */
  z-index: 2; /* Устанавливает уровень наложения для навигации */
  position: relative; /* Устанавливает относительное позиционирование для навигации */
}

header nav ul li{
  display: inline-block; /* Устанавливает элемент списка как блочный элемент в строке */
}

header nav ul li a{
  color: #ffff; /* Устанавливает цвет текста для ссылок в навигации белым */
}

header nav ul li:not(.active):not(.btn) a:hover {
  border-bottom: 5px solid #ffff; /* Добавляет нижнюю границу при наведении на ссылки (не активные и не кнопки) */
}

header nav ul li.btn a{
  background: #df44df; /* Устанавливает фоновый цвет для кнопки */
  padding: 9px 17px; /* Устанавливает внутренние отступы для кнопки */
  border-radius: 5px; /* Устанавливает радиус углов для кнопки */
  transition:all 500ms ease; /* Устанавливает плавный переход для всех свойств за 500 мс */
}

header nav ul li.btn a:hover {
  background: #7b057b; /* Меняет фон кнопки при наведении */
}

/* ВСТУПЛЕНИЕ */

.hero{
  padding-bottom: 100px; /* Устанавливает нижний отступ для секции hero */
  position: relative; /* Устанавливает относительное позиционирование для секции hero */
  z-index: 1; /* Устанавливает уровень наложения для секции hero */
}

.hero--info{
  width: 530px; /* Устанавливает фиксированную ширину для информации в секции hero */
  padding-top: 70px; /* Устанавливает верхний отступ для информации в секции hero */
}

.hero--info h1{
  font-weight: 800; /* Устанавливает жирность текста для заголовка первого уровня */
  font-size: 40px; /* Устанавливает размер шрифта для заголовка первого уровня */
  text-align: center; /* Центрирует текст заголовка первого уровня */
  margin-left: 150px; /* Устанавливает левый отступ для заголовка первого уровня */
  margin-top: -20px; /* Устанавливает отрицательный верхний отступ для заголовка первого уровня */
}

.hero--info p{
  font-weight: 600; /* Устанавливает жирность текста для абзаца */
  font-size: 17px; /* Устанавливает размер шрифта для абзаца */
  line-height: 170%; /* Устанавливает высоту строки для абзаца */
  margin: 25px -110px; /* Устанавливает внешние отступы для абзаца */
  text-align: center; /* Центрирует текст в абзаце */
  margin-left: 50px; /* Устанавливает левый отступ для абзаца */
  color: #000000; /* Устанавливает цвет текста для абзаца черным */
}

.hero--info .btn{
  margin-left: 300px; /* Устанавливает левый отступ для кнопки в секции hero */
  background: #df44df; /* Устанавливает фоновый цвет для кнопки */
  color: #ffff; /* Устанавливает цвет текста для кнопки белым */
  border-radius: 50px; /* Устанавливает радиус углов для кнопки */
  padding: 15px 30px; /* Устанавливает внутренние отступы для кнопки */
  border: 0; /* Убирает границу у кнопки */
  transition: all 500ms ease; /* Устанавливает плавный переход для всех свойств за 500 мс */
}

.hero--info .btn:hover{
  cursor: pointer; /* Меняет курсор на указатель при наведении на кнопку */
  transform: scale(1.1); /* Увеличивает кнопку при наведении */
}

.hero img{
  position: absolute; /* Устанавливает абсолютное позиционирование для изображения */
  top: 70px; /* Устанавливает верхний отступ для изображения */
  right: 50px; /* Устанавливает правый отступ для изображения */
  width: 35%; /* Устанавливает ширину изображения на 35% */
}

/* ЗАКАЗЫВАЮТ ЧАЩЕ ВСЕГО  */

.trending{
  padding-top: 1px; /* Устанавливает верхний отступ для секции trending */
  text-align: center;
}

.trending h2{
  font-weight: 600; /* Устанавливает жирность текста для заголовка секции trending */
  font-size: 31px; /* Устанавливает размер шрифта для заголовка секции trending */
}

.trending .trend{
  display: flex; /* Устанавливает флекс-контейнер для секции игр */
  justify-content: space-between; /* Распределяет элементы с равными промежутками между ними */
  width: 100%; /* Устанавливает ширину секции игр на 100% */
  padding: 50px 0; /* Устанавливает вертикальные отступы для секции игр */
  gap: 50px; /* Устанавливает промежуток между элементами секции игр */
  transition: all 1000ms ease;
}

.trending .trend .block:hover{
  cursor: pointer; 
  transform: scale(1.1); 
}

.trending .trend span{
  display: block; /* Устанавливает блочный вид для спанов внутри секции игр */
  text-align: center; /* Центрирует текст в спанах */
  margin-top: 20px; /* Устанавливает верхний отступ для спанов */
}

/* ОТДЕЛЬНЫЙ ТЕКСТ */

.big-text{
  padding: 50px 0; /* Устанавливает вертикальные отступы для большого текста */
  font-size: 35px; /* Устанавливает размер шрифта для большого текста */
  font-weight: 600; /* Устанавливает жирность текста для большого текста */
  text-align: center; /* Центрирует текст */
  width: 1600px; /* Устанавливает фиксированную ширину для большого текста */

}

/* БАННЕРЫ */

.banner1{
  background: url(/images/tort.jpg) no-repeat center center; /* Устанавливает фоновое изображение для секции features */
  background-size: cover; /* Устанавливает покрытие фона изображением */
  padding: 280px 0; /* Устанавливает вертикальные отступы для секции features */
  padding: 80px; /* Устанавливает внутренние отступы для баннера */
}

.banner2{
  background: url(/images/bento.jpg) no-repeat center center; /* Устанавливает фоновое изображение для секции features */
  background-size: cover; /* Устанавливает покрытие фона изображением */
  padding: 280px 0; /* Устанавливает вертикальные отступы для секции features */
  padding: 80px; /* Устанавливает внутренние отступы для баннера */
}

.banner3{
  background: url(/images/rulet.jpg) no-repeat center center; /* Устанавливает фоновое изображение для секции features */
  background-size: cover; /* Устанавливает покрытие фона изображением */
  padding: 280px 0; /* Устанавливает вертикальные отступы для секции features */
  padding: 80px; /* Устанавливает внутренние отступы для баннера */
}

.ban p{
  line-height: 170%; /* Устанавливает высоту строки для текста в баннере */
  margin-bottom: 30px; /* Устанавливает нижний отступ для текста в баннере */
  font-weight: 600; /* Устанавливает жирность текста для абзаца */
  font-size: 17px; /* Устанавливает размер шрифта для абзаца */
  color: #000000; /* Устанавливает цвет текста для абзаца черным */
  width: 550px; /* Устанавливает фиксированную ширину для текста в баннере */
}

.cakes{
  padding-top: 30px; /* Устанавливает верхний отступ для секции trending */
}

.cakes .see-all{
  color: #ffff; /* Устанавливает цвет текста для кнопки "Смотреть все" белым */
  background: #df44df; /* Устанавливает фоновый цвет для кнопки */
  padding: 9px 17px; /* Устанавливает внутренние отступы для кнопки */
  border-radius: 5px; /* Устанавливает радиус углов для кнопки */
  float:right; /* Выравнивает кнопку "Смотреть все" вправо */
  transition: all 500 ms ease; /* Устанавливает плавный переход для всех свойств за 500 мс */
}

.cakes .see-all:hover{
  background: #7b057b; /* Меняет фон кнопки при наведении */
}

.cakes .images{
  display: flex; /* Устанавливает флекс-контейнер для секции игр */
  justify-content: space-between; /* Распределяет элементы с равными промежутками между ними */
  width: 100%; /* Устанавливает ширину секции игр на 100% */
  padding: 50px 0; /* Устанавливает вертикальные отступы для секции игр */
  gap: 50px; /* Устанавливает промежуток между элементами секции игр */
}

/* ДЛЯ СВЯЗИ */
footer{
  background: #000; /* Устанавливает фоновый цвет для подвала */
  padding: 50px 0; /* Устанавливает вертикальные отступы для подвала */
}

footer .contacts{
  display: flex; /* Устанавливает флекс-контейнер для секции игр */
  justify-content: space-between; /* Распределяет элементы с равными промежутками между ними */
}

footer .contacts .social{
  text-align: center;
}

footer .contacts .social img{
  padding: 10px;
  width:  5%;
}


footer .blocks p{
  width: 300px; /* Устанавливает фиксированную ширину для параграфов в подвале */
  padding: 5px 0; /* Устанавливает внутренние отступы для параграфов в подвале */
  font-weight: 400;

}

footer .blocks h4{
  font-weight: 600; /* Устанавливает жирность текста для заголовков в подвале */
  font-size: 20px; /* Устанавливает размер шрифта для заголовков в подвале */
  margin-top: 10px;
  margin-bottom: 10px;
}


footer hr{
  margin: 30px 0; /* Устанавливает вертикальные отступы для горизонтальной линии в подвале */
  border: 0; /* Убирает границу у линии */
  height: 0.6px; /* Устанавливает высоту линии */
  background: #ccc; /* Устанавливает цвет линии */
}

footer > p{
  text-align: center; /* Центрирует текст в подвале */
}

footer .blocks .logo{
  text-transform: uppercase; /* Преобразует текст логотипа в верхний регистр */
  font-size: 29px; /* Устанавливает размер шрифта для логотипа в подвале */
  font-weight: 800; /* Устанавливает жирность текста для логотипа в подвале */
  padding-left: 20px; /* Устанавливает левый отступ для логотипа в подвале */
}
/* ОТЗЫВЫ */
.work{
  padding: 80px 0;
}

.work .blocks{
  display: flex;
  justify-content: space-between;
}

.work .blocks .block{
  width: 25%;
  border-radius: 10px;
  padding: 50px 35px;
  background: #2ba2a6;
}


.work .blocks .block .badge{
  border-radius: 7px;
  padding: 10px 20px;
}

.work .blocks .block .badge.purple{
  background: #7b057b;
}

.work .blocks .block .badge.brown{
  background: #934608;
}

.work .blocks .block .badge.green{
  background: #1d7627;
}

.work .blocks .block p{
  margin-top: 20px;
}

/* ГАЛЕРЕЯ */

.wrapper h6{
  margin-top: 10px; /* Устанавливает верхний отступ для секции trending */
  text-align: center;
  font-weight: 600; /* Устанавливает жирность текста для заголовка секции trending */
  font-size: 31px; /* Устанавливает размер шрифта для заголовка секции trending */
  margin-bottom: 30px;
}

.p1 h1{
  font-weight: 500;
  text-align: left;
  margin-bottom: 30px;
}

.p1 .cakeblocks .block{
  display: flex; /* Устанавливает флекс-контейнер для секции игр */
  justify-content: space-between; /* Распределяет элементы с равными промежутками между ними */
  width: 100%; /* Устанавливает ширину секции игр на 100% */
  padding: 30px 0; /* Устанавливает вертикальные отступы для секции игр */
}

.p1 .cakeblocks .block img{
  border: 1px solid #ccc;
  width: 23%; /* Измените значение в зависимости от количества изображений в ряду */
  height: auto; /* Сохраняет пропорции изображения */
}